/*** Navbar ***/

#principal-navbar {}

#header {
    background: linear-gradient(to right, #000000 36%, #ffffff 64%);
    height: 510px;
}

#header h4 {
    color: #E2A723;
    font-size: 31px;
}

#header h2 {
    color: #ffffff;
    font-size: 71px;
}


/*** Location ***/

#location img {
    width: 100%;
}