/*** Navbar ***/

#principal-navbar,
#principal-navbar-header {
    height: 58px;
}

#principal-navbar-header {
    background-color: #E2A723;
    padding-left: 100px;
    max-width: 45%;
}

#categories,
#location {
    padding: 50px;
}


/*** Header ***/

#header {
    background: linear-gradient(to right, #000000 36%, #ffffff 64%);
    height: 460px;
}

#header h4,
#header h2 {
    text-transform: uppercase;
    margin: 0;
}

#header h4 {
    color: #E2A723;
    font-size: 31px;
}

#header h2 {
    color: #ffffff;
    font-size: 71px;
}

.welcome-message {
    width: 50%;
    margin-left: 0;
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}


/*** Introduction ***/

#introduction {
    background-image: url(../img/introduction-background.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    text-align: center;
    text-transform: uppercase;
}

#introduction>div p {
    font-size: 22px;
    margin: -5px;
}

#introduction>div h2 {
    font-size: 59px;
}

.semi-highlight {
    background: linear-gradient(to bottom, #ffffff 50%, #e2a723 50%);
}


/*** Categories ***/

#categories {
    background-color: #000000;
    text-transform: uppercase;
    text-align: center;
}

#categories .thumbnail {
    background-color: #000000;
    border: none;
}

#categories .thumbnail img {
    height: 235px;
}

#categories .caption {
    background-color: #E2A723;
    font-size: 25px;
    height: 45px;
}

#categories .caption p {
    padding-bottom: 5px;
}


/*** Location ***/

#location img {
    width: 100%;
}

.info-location {
    background-color: #E2A723;
    padding: 25px;
}

.info-location i,
.info-location span {
    color: #ffffff;
    margin-right: 5px;
}

.info-location i,
.info-location p {
    font-size: 17px;
}

.info-location>div {
    margin-bottom: 25px;
}

.info-location>div:last-of-type {
    margin-bottom: 0;
}

.btn-circle {
    padding: 7px 7px 7px 10px;
    border-radius: 50%;
    background-color: #000000;
    margin-left: 8px;
}

.circle {
    height: 25px;
    width: 25px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
}


/*** Pasarela ***/

#pictures {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
}

#pictures img {
    flex-basis: 25%;
}


/*** Footer ***/

footer {
    background-color: #000;
    height: 180px;
    padding: 30px;
    text-transform: uppercase;
}

footer .links-1,
footer .links-2 {
    margin-left: 90px;
    margin-bottom: 15px;
}

.links-1 a,
.links-2 a {
    text-decoration: none;
    font-size: 18px;
}

.links-1 a {
    color: #E2A723;
}

.links-2 a {
    color: #ffffff;
    margin-right: 15px;
}