/*** Global **/

.semi-highlight {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #e2a723 50%);
}

.center {
    margin: 15% 10%;
    text-align: center;
}

.tittle {
    text-transform: uppercase;
    text-align: center;
    padding-top: 4%;
}

.btn-yellow {
    background-color: #E2A723;
}

.navbar {
    margin-bottom: 0;
}


/*** Navbar ***/

#principal-navbar,
#principal-navbar-header {
    height: 58px;
}

#principal-navbar-header {
    background-color: #E2A723;
    max-width: 100%;
}

#principal-navbar-header img {
    width: 90%;
    float: left;
}

#principal-navbar-header a {
    float: left;
    width: calc(80%);
}

#myNavbar {
    background-color: #ffffff;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    #principal-navbar-header {
        max-width: calc(30%);
        padding-left: 80px;
    }
    #principal-navbar-header img {
        width: calc(100%);
    }
    #principal-navbar-header a {
        width: 100%;
    }
}

@media only screen and (min-width: 998px) {
    #principal-navbar-header {
        max-width: calc(45%);
        padding-left: 100px;
    }
    #principal-navbar-header img {
        width: calc(95%);
    }
}

#principal-navbar>div,
#principal-navbar>ul {
    padding: 3px 0 5px;
}

#principal-navbar a {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
}

#categories,
#location {
    padding: 50px;
}


/*** Header ***/

#header {
    background: linear-gradient(to right, #000000 36%, #ffffff 64%);
    height: 460px;
}

#header h4,
#header h2 {
    text-transform: uppercase;
    margin: 0;
}

#header h4 {
    color: #E2A723;
    font-size: 31px;
}

#header h2 {
    color: #ffffff;
    font-size: 71px;
    background-color: #FAD3D5;
}

.welcome-message {
    width: 50%;
    margin-left: 0;
}


/*** Introduction ***/

#introduction {
    background-image: url(../img/introduction-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    text-align: center;
    text-transform: uppercase;
    opacity: 1;
}

@media only screen and (min-width: 662px) {
    #introduction {
        height: 400px;
    }
}

@media only screen and (min-width: 998px) {
    #introduction {
        height: 300px;
    }
}

#introduction>div p {
    font-size: 22px;
    margin: -5px;
}

#introduction>div h2 {
    font-size: 59px;
}


/*** Categories ***/

#categories {
    background-color: #000000;
    text-transform: uppercase;
    text-align: center;
}

#categories .thumbnail {
    background-color: #000000;
    border: none;
    height: 280px;
    overflow: hidden;
}

#categories .thumbnail img {
    width: 100%;
    height: 235px;
}

#categories .caption {
    background-color: #E2A723;
    font-size: 25px;
    height: 45px;
}

#categories .caption p {
    padding-bottom: 5px;
}

@media only screen and (min-width: 1020px) {
    #categories .row {
        margin-left: 10%;
    }
    #categories .row>div {
        width: 193px
    }
}


/*** Location ***/

#location img {
    width: 100%;
}

.info-location {
    background-color: #E2A723;
    padding: 25px;
}

.info-location i,
.info-location span {
    color: #ffffff;
    margin-right: 5px;
}

.info-location i,
.info-location p {
    font-size: 17px;
}

.info-location>div {
    margin-bottom: 25px;
}

.info-location>div:last-of-type {
    margin-bottom: 0;
}

.btn-circle {
    padding: 7px 7px 7px 10px;
    border-radius: 50%;
    background-color: #000000;
    margin-left: 8px;
}

.circle {
    height: 25px;
    width: 25px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
}


/*** Pasarela ***/

#pictures {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
}

#pictures img {
    flex-basis: 100%;
}

@media only screen and (min-width:556px) {
    #pictures img {
        flex-basis: calc(25%);
    }
}


/*** Footer ***/

footer {
    background-color: #000;
    height: 380px;
    padding: 30px;
    text-transform: uppercase;
}

@media only screen and (min-width: 1020px) {
    footer {
        height: 180px;
    }
}

footer .links-1,
footer .links-2 {
    margin-left: 90px;
    margin-bottom: 15px;
}

.links-1 a,
.links-2 a {
    text-decoration: none;
    font-size: 18px;
}

.links-1 a {
    color: #E2A723;
}

.links-2 a {
    color: #ffffff;
    margin-right: 15px;
}


/************************************* COTIZACION *************************************/

.cotizacion-form {
    margin: 50px 10%;
}

.cotizacion-form input:not([type=submit]) {
    padding: 20px;
}

input::placeholder,
input:-moz-placeholder,
input::-webkit-input-placeholder,
input::-moz-placeholder,
input::-ms-input-placeholder,
option {
    text-transform: uppercase;
    background: #FAD3D5;
    font-size: 16px;
}

.btn-xl {
    padding: 20px 20px 80px;
    font-size: 23px;
    width: 100%;
}

@media only screen and (min-width: 480px) {
    .btn-xl {
        padding: 10px 20px 40px;
    }
}

.btn-xl p {
    padding: 0;
    text-transform: uppercase;
}

.pagos {
    display: flex;
}

.div.pago {
    flex-basis: calc(25%);
}

.div-pago img {
    width: 100%;
}

.jumboText {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
    margin-top: 50px;
}

@media only screen and (min-width: 460px) {
    .jumboText {
        height: 500px;
    }
}

@media only screen and (min-width: 768px) {
    .jumboText {
        height: 400px;
    }
}

.jumboText p {
    font-size: 21px;
}

.jumboText h2 {
    font-size: 59px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10% auto;
}

.cot-bkg {
    background-image: url(../img/jumbotext-background.png);
}

.mtto-bkg {
    background-image: url(../img/mtto-background.png);
}


/************************************* CATALOGOS *************************************/

.catalogo img {
    width: 60%;
}


/************************************* CATEGORIES PAGES *************************************/

.atv-bkg {
    background-image: url(../img/atv-background.png);
}